/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/*
!/vendor/tcg
/vendor/tcg/*
!/vendor/tcg/voyager/
/vendor/tcg/voyager/*
!/vendor/tcg/voyager/resources
/vendor/tcg/voyager/resources/*
!/vendor/tcg/voyager/resources/views
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
